</body>
<footer>

  Projeto Desenvolvido por: Igor Cruz |
  <a href='https://www.linkedin.com/in/igor-cruz-ti/' className='hover:underline'>Linkedin</a>

  | <a href='https://github.com/Igor-Cruz' className='hover:underline'>Github</a>

</footer>

</html>