<html>

<head>
  <title>Convert My Money</title>
  <link rel="stylesheet" href="estilos.css">
  <link rel="shortcut icon" href="icon2.ico" type="image/x-icon">

</head>

<body>
  <h1> <a href="/"> <img src="/logo.png" alt="Convert My Money"> </a> </h1>